<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Calculator</title>
  </head>
  <body>
   <div id="app">
       <div id="grid">
           <input  v-on:keyup.enter="calc()" type="text" v-model="result" placeholder="0">
           <button v-on:click="input(num)" class="cell num" v-for="num in numbers"> {{ num }} </button>
           <button v-on:click="input(op)" class="cell op" v-for="op in operations"> {{ op }} </button>
           <button class="cell op" v-on:click="reset()">R</button>
           <button class="cell op" v-on:click='calc()'>=</button>
       </div>
   </div>
  <script src="script.js"></script>
</html>
